<!DOCTYPE html> <!-- Declaración del tipo de documento HTML -->
<html lang="en"> <!-- Inicio del elemento HTML con atributo de idioma en inglés -->

<head>
    <meta charset="UTF-8"> <!-- Especificación de la codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configuración de la vista en dispositivos móviles -->
    <link rel="stylesheet" href="/css/login.css"> <!-- Enlace al archivo CSS externo -->
    <title>Inicio de Sesión</title> <!-- Título de la página -->
</head>

<body>
    <form method="POST" action="/login"> <!-- Formulario para iniciar sesión -->
        <h1>Inicio de Sesión</h1>
        <label for="email">Email:</label> <!-- Etiqueta para el campo de email -->
        <input type="email" name="email" id="email" required> <!-- Campo de entrada para el email -->
        <br>
        <label for="contraseña">Contraseña:</label> <!-- Etiqueta para el campo de contraseña -->
        <input type="password" name="contraseña" id="contraseña" required>
        <!-- Campo de entrada para la contraseña -->
        <br>
        <button type="submit">Iniciar Sesión</button> <!-- Botón para enviar el formulario de inicio de sesión -->
    </form>
    <a href="/register">¿No tienes una cuenta? Regístrate aquí</a>
    <!-- Enlace para dirigir al usuario a la página de registro -->
    <footer>
        <p>&copy; 2024 Santo Tomas Tunja. Todos los derechos reservados.</p>
    </footer>
</body>

</html>