/* Establece la fuente principal para todo el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-image: url(../css/img/Fondo\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    /* Quita el margen exterior del cuerpo */
    padding: 0;
    /* Quita el relleno del cuerpo */
}

/* Estilos para los encabezados de nivel 1 */
h1 {
    color: #f2ecec;
    /* Color del texto */
    text-align: center;
    /* Centra el texto */
}

p{
    color: #ffffff; /* Color del encabezado */
    text-align: center; /* Centra el texto */
    font-size: 15px; /* Tamaño de fuente */
    text-shadow: 1px 1px 1px #000000; /* Sombra del texto */
}

/* Estilos para los formularios */
form {
    background-color:rgba(90, 90, 248, 0.5);
    padding: 15px; /* Relleno interior del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%; /* Se ajusta al ancho disponible */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    margin-top: 150px; /* Espacio superior */
}


/* Estilos para las etiquetas */
label {
    display: block;
    /* Muestra las etiquetas como bloques */
    margin-bottom: 8px;
    /* Margen inferior */
    color: #eee6e6;
    /* Color del texto */
}

/* Estilos para los campos de texto, email y contraseña */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    /* Ancho del campo considerando el padding y el borde */
    padding: 10px;
    /* Relleno interior */
    margin-bottom: 20px;
    /* Margen inferior */
    border: 1px solid #ccc;
    /* Borde del campo */
    border-radius: 4px;
    /* Borde redondeado */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #ae0695;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Borde redondeado */
    padding: 12px 20px;
    /* Relleno interior */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    display: block;
    /* Muestra el botón como bloque */
    margin: 0 auto;
    /* Centra el botón horizontalmente */
}

/* Cambia el color de fondo del botón de envío al pasar el cursor sobre él */
button[type="submit"]:hover {
    background-color: #7906ae;
}

/* Estilos para los enlaces */
a {
    display: block;
    /* Muestra los enlaces como bloques */
    text-align: center;
    /* Centra el texto */
    margin-top: 20px;
    /* Margen superior */
    color: #060606;
    /* Color del texto */
    text-decoration: none;
    /* Quita el subrayado */
}

/* Pie de Página */
footer {
    background:rgba(242, 242, 242, 0.307); /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 1px; /* Relleno */
    bottom: 0; /* Abajo */
    width: 30%; /* Ancho completo */
    margin-top: 185px;
}